.container {
  width: "100%";
  justify-content: center;
  justify-items: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 2rem
}

.slice {
  margin: 2rem;
}

.arrowright {
  transform: scaleX(-1);
  margin-left: 3rem;
}

.arrow {
  margin-right: 3rem;
}

.dot {
  margin-left: 1rem;
  margin-right: 1rem;
}