.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 3rem;
  padding-right: 3rem;
  min-height: 100vh;
}

.bg_dot {
  /* element */
  position: absolute;
  left: -3.12%;
  right: 94.9%;
  top: 20%;
  bottom: 95.32%;
}

.bg_curve {
  /* Vector */
  position: absolute;
  left: -10%;
  right: -26.18%;
  top: 80%;
  bottom: 0%;
}